
# Chặn toàn bộ nội dung trong thư mục data
data/**/*

# Mở cửa cho phép Git đi vào các thư mục con
!data/**/

#  Cho phép đẩy file .gitkeep để giữ cấu trúc thư mục rỗng
!data/**/.gitkeep

# Cho phép đẩy file .zip
!data/**/*.zip

# chặn những file nặng
*.csv
*.h5
*.keras

# --- PYTHON & CACHE ---
__pycache__/
.ipynb_checkpoints/
*.py[cod]
*$py.class

# --- IDE & SYSTEM ---
.vscode/
.idea/
.env