
data/**/*

# Ngoại lệ: Cho phép đẩy cấu trúc thư mục lên nếu có file .gitkeep
!data/**/.gitkeep

# Chặn cụ thể các định dạng nặng
*.csv
*.h5
*.keras

#  PYTHON & CACHE
__pycache__/
.ipynb_checkpoints/
*.py[cod]
*$py.class

# IDE & SYSTEM 
.vscode/
.idea/
.env